div.footer
    div.footer__logo
        img(src='img/logo.png' alt='Course logo')
    ul.footer__nav
        li:a(href='#') About us
        li:a(href='#') Download Loan Details
        li:a(href='#') Sign up as an applicant
        li:a(href='#') New Loan Schemes
        li:a(href='#') Contact

    p.footer__copyright &copy; by Bank.