meta(charset="UTF-8")
meta(name="viewport", content="width=device-width,initial-scale=1")
link(href="https://fonts.googleapis.com/css?family=Oswald:300,400,400i,700", rel="stylesheet")
link(rel="stylesheet", href="css/style.css")
link(rel="shortcut icon", type="image/png", href="img/favicon.png")
title New Loan
h1.heading-primary
  span List Of Loan
div
  table.table-header
    thead
      tr
        th(scope="col") Serial Number
        th(scope="col") Applicant Name
        th(scope="col") Phone Number
        th(scope="col") Address
        th(scope="col") Monthly Payment
        th(scope="col") Loan Amount
        th(scope="col") Loan Term Years
        th(scope="col") Loan Type
        th(scope="col") Description
    tbody
      tr.table-secondary
        th(scope="row") 1
        td Jenil
        td 9878685848
        td Tempe
        td 250
        td 13
        td 4
        td Student Loan
        td Educational Loan
      tr
        th(scope="row") 2
        td Alpa
        td 9623009528
        td Austin
        td 100
        td 12
        td 2
        td Personal Loan
        td Personal Loan
      tr
        th(scope="row") 3
        td Deva
        td 9623009528
        td Georgia
        td 120
        td 10
        td 5
        td Car Loan
        td Car Loan
      tr
        th(scope="row") 4
        td Milan
        td 6056821212
        td Phoenix
        td 725
        td 15
        td 3
        td business Loan
        td business Loan
      tr
        th(scope="row") 5
        td Mishri
        td 9850770409
        td Miami
        td 170
        td 5
        td 2
        td Provident fund Loan
        td Loan on provident fund